@import "../node_modules/bulma/bulma.sass";

body{
    background-color: black;

    .column{
        margin-top: 25px;
    }

    .navbar{

        input{
            margin-top: 5px;
            margin-bottom: 5px;
            border: 2px solid wheat;
            background:white; 
            font-size: 20px;
            cursor:auto;
        }  
    }

    .card{
        background-color: grey;
        border: 2px solid white;
        border-radius: 10px;
    }

    .card-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: drop-shadow(0 0 5px black);

        &:hover{
            box-shadow: 0 0 10px black;
            background-color: white;
            border-radius: 50%;
	        cursor: pointer;
        }

    }

    .card-content{
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }

}